$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #D3D5D4;
$gray-500: #adb5bd;
$gray-600: #878E99;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$green: #A2C5AC;
$teal: #9DB5B2;
$purple: #7F6A93;
$primary: $green;
$body-bg: #e9ecef;
$headings-color: #000;