#header{
    margin-top: 60px;
    padding: 120px 0;
    background-size: cover;
    background-position: center;
    position: relative;
    #site-title{
        position: relative;
        z-index: 2;
        color: #fff;
    }
    @include media-breakpoint-up(md) {
        margin-top: 0;
    }
}
