#posts{
    background: #fff;
    padding: 0 2rem;
    .post {
        padding: 2rem 0;
        border-bottom: 1px solid $gray-500;

        h2{
            margin-bottom: 0;
            color: #000;
        }

        &:last-child{
            border-bottom: none;
        }
    }
}

.post-categories{
    display: flex;
    padding: 0;
    list-style: none;

    li{
        font-weight: 600;

        &::after{
            content: '|';
            margin-left: 0.25rem;
            margin-right: 0.25rem;
            color: $gray-600;
            font-weight: 400;
        }
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            &::after{
                content: ''
            }
        }
    }
}

.post-tags{
    padding: 0;
    list-style: none;
    li{
        display: inline-block;
        padding: 0.2rem 0.5rem;
        &:first-child{
            padding-left: 0
        }
    }
    .post-tag{
        background: $primary;
        border-radius: 2rem;
        padding: 0.2rem 0.5rem;
        color: $white;
        font-weight: 300;
        text-transform: lowercase;
        display: block;
        transition: 0.3s;
        
        &:hover, &:active{
            background: $link-hover-color;
            text-decoration: none !important;
        }
    }
}

#single-post{
    .feat_img{
        img{
            width: 100%;
            height: auto;
        }
    }
    .post{
        background: #fff;
        padding: 2rem;
        h1{
            font-size: 3rem;
        }
    }
    .categories{
        padding: 0;
        list-style: none;
        display: flex;
        li{
            font-size: 1.5rem;
            margin-left: 0.5rem;
            &::after{
                content: ',';
            }
            &:first-child{
                margin-left: 0;
            }
            &:last-child::after{
                content: '';
            }
            a{
                color: $gray-700;
                &:hover, &:active{
                    color: lighten($gray-700, 30%);
                }
            }
        }
    }
}

.categories{
    background: #fff;
    padding: 2rem;
    .category-list{
        margin-top: 2rem;
        list-style: none;
        padding: 0;
        li{
            padding: 0.5rem 0;
            border-bottom: 1px solid $gray-500;
            &:last-child{
                border-bottom: none;
            }
        }
    }
}