@import "colors";
@import "fonts";
@import "overrides";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/buttons";
@import "scrims";
@import "header";
@import "footer";
@import "navigation";
@import "posts";

.body-content{
    margin-top: 4rem;
    padding-bottom: 4rem;
    min-height: calc(100vh - 240px - 8rem);
}